<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602188652604-gt6b4vrgh7e8j9nj30eihmpf9mieels2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602188652604-gt6b4vrgh7e8j9nj30eihmpf9mieels2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>602188652604-f2n0d2qt085sd8is840nkd0qtc641sla.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDO24mz5PIUdaLSjXrWarZ496JGaepBF-g</string>
	<key>GCM_SENDER_ID</key>
	<string>602188652604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.bajajfinservhealth.aarogyacare</string>
	<key>PROJECT_ID</key>
	<string>aarogyacare-abdm</string>
	<key>STORAGE_BUCKET</key>
	<string>aarogyacare-abdm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602188652604:ios:821c272deaf4dc273a6339</string>
	<key>DATABASE_URL</key>
	<string>https://aarogyacare-abdm-default-rtdb.firebaseio.com</string>
</dict>
</plist>